// Chart background, point stroke for markers and columns etc
$background-color: transparent !important;

// Colors for data series and points.
$colors: #2b908f #90ee7e #f45b5b #7798BF #aaeeee #ff0066 #eeaaee #55BF3B #DF5353 #7798BF #aaeeee !important;

// Neutral colors
$neutral-color-100: #fff !important;
$neutral-color-80: #E0E0E3 !important;
$neutral-color-60: #E0E0E3 !important;
$neutral-color-40: #666 !important;
$neutral-color-20: #606063 !important;
$neutral-color-10: #707073 !important;
$neutral-color-5: #505053 !important;

// Colored, shades
$highlight-color-100: #F0F0F3 !important;
$highlight-color-60: rgba(255, 255, 255, 0.1) !important;
$highlight-color-20: $neutral-color-10 !important;

// Data-labels
$data-label-color: #B0B0B3 !important;

// Fonts
$font-family: Segoe UI Historic,
Segoe UI,
Helvetica,
Arial,
sans-serif !important;
$title-font-size: 20px !important;

// Tooltip
$tooltip-background: rgba(0, 0, 0, 0.85) !important;

// Range-selector
$range-selector-input-text: silver !important;
$range-selector-input-border: $neutral-color-5 !important;

// Buttons
$highcharts-button-background: $neutral-color-5 !important;
$highcharts-button-text: #ccc !important;

$highcharts-button-pressed-background: #000003 !important;
$highcharts-button-pressed-text: $neutral-color-100 !important;

$highcharts-button-hover-background: $neutral-color-10 !important;
$highcharts-button-hover-text: $neutral-color-100 !important;

$context-button-background: $neutral-color-5 !important;

// Navigator
$navigator-series-fill: #7798BF !important;
$navigator-series-border: #A6C7ED !important;

// Navigator
$scrollbar-track-background: #404043 !important;
$scrollbar-track-border: #404043 !important;

// Titles
.highcharts-title,
.highcharts-subtitle {
    text-transform: uppercase !important;
}

// Tooltip
.highcharts-tooltip .text {
    fill: #F0F0F0 !important;
}

// Range-selector
.highcharts-range-selector-buttons text {
    fill: silver !important;
}

// Axes
.highcharts-yaxis-grid {
    stroke-width: 1px !important;
}

.highcharts-axis-labels,
.highcharts-axis-title {
    fill: #E0E0E3 !important;
}

// Navigator
.highcharts-navigator .highcharts-navigator-handle {
    fill: $neutral-color-40;
    stroke: #aaa !important;
}

.highcharts-navigator .highcharts-navigator-outline {
    stroke: #CCC !important;
}

.highcharts-navigator .highcharts-navigator-xaxis .highcharts-grid-line {
    stroke: $neutral-color-5;
}

// Scrollbar
.highcharts-scrollbar .highcharts-scrollbar-rifles {
    stroke: $neutral-color-100;
}

.highcharts-scrollbar .highcharts-scrollbar-button {
    stroke: #606063 !important;
    fill: #606063 !important;
}

.highcharts-scrollbar .highcharts-scrollbar-arrow {
    fill: #CCC !important;
}

.highcharts-scrollbar .highcharts-scrollbar-thumb {
    fill: #808083 !important;
    stroke: #808083 !important;
}

// Navigation
.highcharts-contextbutton .highcharts-button-symbol {
    stroke: #DDDDDD !important;
}

.highcharts-text-outline {
    display: none
}

@import './highcharts';