.navLeft {
    overflow: hidden;
    height: 100%;
    position: fixed;
    top: 56px;
    z-index: 0;

    &#navLeft[data-always="small"] {
        border-right: 1px solid var(--wash);
    }

    &[data-status="small"],
    &#navLeft[data-always="small"] {
        width: 60px;
        background-color: var(--nav-background-color);

        .navLeft-section > :last-child > .button-hover {
            inset: 4px 14px;
            border-radius: 16px;
        }
        .navLeft-button > span {
            display: none;
        }
    }
    &[data-status="extended"] {
        width: 300px;
        background-color: none;
    }

    .navLeft-section {
        .navLeft-section-separator {
            height: 1px;
            background-color: var(--divider);
            margin: 8px 16px;
        }

        & > :last-child {
            padding: 4px 14px;
            margin-top: 2px;

            span {
                margin-left: 10px;
            }

            & > .icon-container {
                width: 32px;
                height: 32px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                background-color: var(--secondary-button-background);

            }

            .image {
                -webkit-filter: var(--filter-primary-icon);
                filter: var(--filter-primary-icon);    
            }

        }

        .navLeft-button.redirect {
            padding: 8px 18px;

            img {
                height: 24px;
                width: 24px;
                border-radius: 6px;
            }
        }
    }
    
    .main {
        padding: 16px 0 4px 0;

        & > a {
            height: 36px;

            & > :last-child {
                inset: -2px 8px;
            }
        }

        & > #Home {
            margin-bottom: 8px;
        }
        & > #Profil {
            margin-top: 4px;
            padding: 6px 18px;
        }
    }

    .navLeft-button {
        height: 40px;
        min-width: 60px;
        max-width: 100%;
        display: flex;
        align-items: center;
        padding: 8px 20px;
        position: relative;
        cursor: pointer;

        & > span {
            margin-left: 14px;
            font-size: 15px;
            font-weight: 500;
            color: var(--primary-text);
            line-height: 20px;
            display: block;
            min-width: 0;
        }

        & > .button-hover {
            position: absolute;
            transition: background-color 100ms cubic-bezier(0, 0, 1, 1);
            border-radius: 8px;
            inset: 0px 8px;
            
            &:hover {
                background-color: var(--hover-overlay);
            }
        }


        & > .image {
            height: 20px;
            width: 20px;
            -webkit-filter: var(--filter-primary-icon);
            filter:  var(--filter-primary-icon);
        }

        i {
            -webkit-filter: var(--filter-primary-icon);
            filter:  var(--filter-primary-icon);
            background-image: url('/assets/image/navleft.png');
            background-size: 16px 64px;
            background-position-x: 0;
            display: block;
            height: 16px;
            width: 16px;
        }

        &[data-status="selected"] {
            & > .show-selected {
                background-color: var(--accent);
                height: 36px;
                width: 4px;
                border-radius: 8px;
                position: absolute;
                top: 50%;
                left: 0;
                transform: scaleY(1) translateY(-50%);
                display: block;
            }

            & > .icon-container {
                background-color: var(--primary-deemphasized-button-background);
            }

            .image {
                -webkit-filter: var(--filter-accent);
                filter:  var(--filter-accent);
            }
        }
    }
}

.navLeft-cloud {
    top: 56px;
    left: 60px;
    right: 0;
    bottom: 0;
    background-color: var(--overlay-alpha-80);
    position: fixed;
    z-index: 1;
}

.navLeft-border {
    width: 1px;
    position: absolute;
    top: 56px;
    z-index: 2;
    bottom: 0;
    left: 60px;
    display: block;
    background-color: var(--wash);
}

#panel[data-status="hidden"] {
    display: none;
    z-index: 1;
}