.panelHouse {

    #searchHousesButton {
        height: 56px;

        & > .img {
            padding: 0;
            margin: 6px;
            background-color: var(--base-blue);
            height: 36px;
            width: 36px;
            border-radius: 50px;
            display: flex;
            align-items: center;
            justify-content: center;

            & > i {
                -webkit-filter: var(--filter-always-white);
                filter: var(--filter-always-white);
            }
        }

        & > .text {
            & > :first-child {
                font-weight: 400;
                font-size: 15px;
                line-height: 20px;
                color: var(--blue-link);

                & > strong {
                    font-size: inherit;
                    font-weight: 600;
                    line-height: inherit;
                    color: inherit;
                }
            }
        }
    }

    .panelHouse-button {

        & > .image {
            margin: 6px;
            border-radius: 8px;
            width: 36px;
            height: 36px;
        }

        & > .text {
            display: flex;
            flex-direction: column;
            padding: 6px;
            flex-grow: 1;

            & > .primary {
                color: var(--primary-text);
                line-height: 20px;
                font-size: 15px;
                font-weight: 500;
            }
            & > .secondary {
                color: var(--secondary-text);
                line-height: 16px;
                font-size: 12px;
                font-weight: 400;
            }
        }
    }
    
}

.panelHouse .panel-section-scroll {
    #containerSearchHouseButton { display: none; }

    &[data-status="search"] {
        #containerSearchHouseButton { display: block; }
        .panel-section-create { display: none; }
        .panel-section-separator { display: none; }
        .panel-section-list > #pinHouses { display: none; }
    }
}