.panelTable {
    .panelTable-filter {
        padding-top: 12px;

        .panelTable-filter-title {
            padding-top: 0;
            padding: 0 16px;
            color: var(--primary-text);
            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
        }

        .panelTable-filter-content {
            padding: 8px 0 0 24px;

            & > label {
                display: flex;
                flex-direction: column;
                margin-top: 5px;
            }
        }
    }

    .text {
        padding-right: 15px;
        text-align: right;
        display: flex;
        align-items: center;
        font-size: 15px;
        font-weight: 600;
        color: var(--primary-text);
        cursor: default;
        margin-bottom: 2px;
    }

    .input {
        border-radius: 4px;
        font-size: 16px;
        height: 29px;
        width: 275px;
        border: 1px solid var(--table-input-border);
        background-color: var(--card-background);
        color: var(--primary-text);
        padding: 3px;
        cursor: text;

        &:disabled {
            cursor: default;
            background-color: var(--input-disabled-bg);
            color: var(--input-disabled-color);
            border-color: var(--input-disabled-border);
        }
    }

    .select {
        border-radius: 4px;
        font-size: 16px;
        height: 29px;
        width: 275px;
        border: 1px solid var(--table-select-border);
        background-color: var(--card-background);
        color: var(--primary-text);
        padding: 3px;
        cursor: pointer;
    }
}