.panelTable {
    .panelTable-filter {
        .panelTable-filter-title {
            padding-top: 0;
            padding: 0 16px;
            color: var(--primary-text);
            font-size: 17px;
            font-weight: 600;
            line-height: 20px;
        }
    }
}