.panel-section#panelDatabase {
    .panel-section-button {
        height: 40px;
        padding-left: 20px;

        .text {
            span {
                color: var(--primary-text);
                line-height: 20px;
                font-size: 15px;
                font-weight: 500;
            }
        }
    }

    .panel-section-list {
        height: calc(100% - 62px);

        #db-table {
            height: calc(100% - 0px);

            .scrollbar-container {
                height: calc(100% - 22px);
            }
        }
    }
}