body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #F0F2F5;
  line-height: 1.34;
}

a {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

span {
  display: flex;
  justify-content: space-between;
}

input {
  outline: none;
}

.login-box {
  display: flex;
  flex-direction: column;
  width: 396px;
  padding-top: 10px;
  padding-bottom: 24px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-input {
  width: 364px;
  padding: 6px 0;
  border: none;
  text-align: start;
  position: relative;
}
.login-input input {
  border: 1px solid #dddfe2;
  height: 22px;
  width: 330px;
  font-size: 17px;
  border-radius: 6px;
  line-height: 16px;
  padding: 14px 16px;
}
.login-input input:focus {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}
.login-input input[type=password] {
  width: 300px;
  padding-right: 46px;
}

.iconPassword {
  border-radius: 50%;
  height: 28px;
  position: absolute;
  cursor: pointer;
  width: 28px;
  right: 8px;
  top: 18px;
}
.iconPassword:hover {
  background-color: #F2F2F2;
}
.iconPassword img {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.login-button {
  padding-top: 6px;
}
.login-button button {
  font-size: 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}
.login-button button:focus {
  background-color: #166FE5;
}
.login-button a {
  font-size: 17px;
  background-color: #42b72a;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  font-weight: bold;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}
.login-button a:hover {
  background-color: #36A420;
}

.pass-forget {
  margin-top: 16px;
}
.pass-forget a {
  color: #1877f2;
}

.line {
  margin: 20px 16px;
  border-bottom: 1px solid #dadde1;
}

.register-box {
  display: flex;
  flex-direction: column;
  width: 432px;
  text-align: center;
  align-items: stretch;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-head {
  padding: 10px 16px;
  border-bottom: 1px solid #dadde1;
  position: relative;
}
.register-head img {
  position: absolute;
  right: 10px;
  top: 12px;
}
.register-head .fcb {
  font-size: 32px;
  line-height: 38px;
  text-align: start;
  font-weight: 600;
  color: #1c1e21;
}
.register-head .fcg {
  font-size: 15px;
  line-height: 24px;
  text-align: start;
  color: #606770;
}

.register-info {
  padding: 16px;
}

.register-input {
  border: 1px solid #ccd0d5;
  background-color: #f5f6f7;
  width: 170px;
  font-size: 15px;
  border-radius: 5px;
  line-height: 16px;
  padding: 11px;
  outline: none;
}

.long {
  width: 375px;
}

.little-text {
  color: #606770;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 2px;
  text-align: start;
}

.register-select {
  border-radius: 4px;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  padding: 0 20px 0 8px;
  width: 125px;
}

.register-label {
  box-sizing: border-box;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  line-height: 36px;
  padding: 0 28px 0 10px;
  width: 100%;
  display: inline-block;
}

.register-radio {
  height: 36px;
  position: absolute;
  right: 10px;
  top: 0;
  margin: 0;
}

.register-button {
  border: none;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: none;
  color: #fff;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  height: 36px;
  line-height: 126%;
  margin: 10px 0;
  min-width: 194px;
  font-weight: bold;
  background-color: #00a400;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  cursor: pointer;
}
.register-button:hover {
  background-color: #008000;
}

.cloud {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 400;
}

._10pad {
  padding-bottom: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 411px;
  text-align: left;
  justify-content: normal;
  margin: -8px -6px -6px -6px;
}
.flex-wrap span {
  margin: 8px 6px 6px 6px;
  position: relative;
  flex: 1 0 auto;
  border: 1px solid #ccd0d5;
  background-color: #fff;
  height: 36px;
  border-radius: 4px;
}

.identify-box {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #fff;
}

.identify-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.identify-head h2 {
  font-size: 20px;
  line-height: 24px;
  padding: 18px 16px 18px 18px;
  margin: 0;
}

.identify-info {
  padding: 16px;
}
.identify-info div {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
}
.identify-info input {
  border-radius: 6px;
  color: #8a8d91;
  font-size: 16px;
  padding: 16px 0 16px 16px;
  width: 444px;
  border: 1px solid #ccd0d5;
  margin: 0 3px;
}

.identify-button {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: end;
}
.identify-button a {
  padding: 0 20px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  color: #4b4f56;
  display: inline-block;
  font-weight: bold;
}
.identify-button a:hover {
  text-decoration: none;
}
.identify-button button {
  padding: 0 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

.recover-box {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: #fff;
}

.recover-head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.recover-head h2 {
  font-size: 20px;
  line-height: 24px;
  padding: 18px 16px 18px 18px;
  margin: 0;
}

.recover-info {
  padding: 16px;
  display: flex;
}

.recover-how {
  width: 60%;
}
.recover-how .text {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
  padding-right: 16px;
}

.recover-radio {
  display: inline-block;
}
.recover-radio label {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 6px 0;
}
.recover-radio label input {
  height: 20px;
  width: 20px;
  margin: 0;
  margin-top: 2px;
  position: absolute;
}
.recover-radio label .text-radio {
  color: #333;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-left: 32px;
}
.recover-radio label .email {
  font-size: 13px;
  line-height: 16px;
  margin-left: 32px;
}
.recover-radio label:hover {
  background-color: #E9EBEE;
}

.recover-user {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.recover-user img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  align-self: center;
  padding-bottom: 16px;
}
.recover-user div {
  flex-wrap: nowrap;
}
.recover-user .fullname {
  font-size: 15px;
  line-height: 20px;
  text-align: center;
  color: #1c1e21;
}
.recover-user .type {
  font-size: 13px;
  line-height: 16px;
  text-align: center;
  color: #606770;
}

.recover-button {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: end;
}
.recover-button a {
  padding: 0 20px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  color: #4b4f56;
  display: inline-block;
  font-weight: bold;
}
.recover-button a:hover {
  text-decoration: none;
}
.recover-button button {
  padding: 0 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
