html {
    &.__pj-light-mode {
        --wash: #E4E6EB;
        --accent: hsl(214, 89%, 52%);
        --divider: #CED0D4;
        --blue-link: #216FDB;
        --base-blue: #1877F2;
        --primary-text: #050505;
        --primary-icon: #050505;
        --secondary-text: #65676B;
        --secondary-icon: #65676B;
        --background-color: #F0F2F5;
        --nav-background-color: #FFFFFF;
        --navTop-logo-color: #1877F2;
        --comment-background: #F0F2F5;
        --comment-background-hover: #E4E6E9;
        --comment-placeholder-focus : #65676B;
        --comment-placeholder: #65676B;
        --primary-button-background: #1B74E4;
        --primary-button-text: #ffffff;
        --secondary-button-background: #E4E6EB;
        --hover-overlay: rgba(0, 0, 0, .05);
        --press-overlay: rgba(0, 0, 0, .1);
        --media-press: rgba(68, 73, 80, 0.35);
        --card-background: #FFFFFF;
        --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
        --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%)hue-rotate(202deg) brightness(97%) contrast(96%);
        --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
        --filter-always-white: invert(100%);
        --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
        --primary-deemphasized-button-background: #E7F3FF;
        --primary-deemphasized-button-text: #1877F2;
        --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
        --overlay-alpha-80: rgba(244, 244, 244, 0.8);
        --settings-background-color: #FFFFFF;
        --settings-list-border: #AAAAAA;
        --settings-li-border: #EBEDF0;
        --settings-content-background: #f2f2f2;
        --settings-form-label-border: #CCD0D5;
        --settings-form-label-text: #606770;
        --settings-form-divider-background: #CCCCCC;
        --settings-form-confirm-bg: #365899;
        --settings-form-confirm-press: #223760;
        --settings-form-confirm-hover: #2F4D86;
        --settings-form-confirm-text: #fff;
        --settings-form-cancel-bg: #f5f6f7;
        --settings-form-cancel-press: #DDDFE2;
        --settings-form-cancel-hover: #EBEDF0;
        --settings-form-cancel-text: #4b4f56;
        --settings-form-cancel-border: #ccd0d5;
        --settings-category-border: #dddfe2;
        --settings-category-name-bg: #f5f6f7;
        --settings-category-modify-border: #e5e5e5;
        --filter-settings-icon: none;
        --table-li-shadow: rgba(0, 0, 0, 0.1);
        --table-row-bg: #F0F2F5;
        --table-header-bg: #fff;
        --scroll-thumb: #BCC0C4;
        --filter-red: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) brightness(97%) contrast(96%) hue-rotate(-14deg) saturate(138%);
        --table-cloud-bg: rgba(255, 255, 255, .8);
        --select-bg-url: url('http://projetbdd/assets/image/select-black.png');
        --input-disabled-bg: rgba(239, 239, 239, 0.5);
        --input-disabled-border: rgba(118, 118, 118, 0.3);
        --input-disabled-color: rgb(84, 84, 84);
        --table-input-border: #CCD0D5;
        --table-select-border: #CCD0D5;
    }

    &.__pj-dark-mode {
        --wash: #3E4042;
        --accent: hsl(214, 100%, 59%);
        --divider: #3E4042;
        --blue-link: #4599FF;
        --base-blue: #1877F2;
        --primary-text: #E4E6EB;
        --primary-icon: #E4E6EB;
        --secondary-text: #B0B3B8;
        --secondary-icon: #B0B3B8;
        --background-color: #18191A;
        --nav-background-color: #242526;
        --navTop-logo-color: #FFFFFF;
        --comment-background: #3A3B3C;
        --comment-background-hover: #4E4F50;
        --comment-placeholder-focus : #8A8D91;
        --comment-placeholder: #b0b3b8;
        --primary-button-background: #2374E1;
        --primary-button-text: #ffffff;
        --secondary-button-background: rgba(255, 255, 255, .1);
        --hover-overlay: rgba(255, 255, 255, .1);
        --press-overlay: rgba(255, 255, 255, .1);
        --media-press: rgba(68, 73, 80, 0.35);
        --card-background: #242526;
        --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
        --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
        --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
        --filter-always-white: invert(100%);
        --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
        --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
        --primary-deemphasized-button-text: #2D88FF;
        --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
        --overlay-alpha-80: rgba(11, 11, 11, 0.8);
        --settings-background-color: #000000;
        --settings-list-border: #555555;
        --settings-li-border: #101215;
        --settings-content-background: #0d0d0d;
        --settings-form-label-border: #2C3035;
        --settings-form-label-text: #939AA3;
        --settings-form-divider-background: #333333;
        --settings-form-confirm-bg: #365899;
        --settings-form-confirm-press: #223760;
        --settings-form-confirm-hover: #2F4D86;
        --settings-form-confirm-text: #fff;
        --settings-form-cancel-bg: #08090A;
        --settings-form-cancel-press: #1E2023;
        --settings-form-cancel-hover: #101215;
        --settings-form-cancel-text: #9FA4AA;
        --settings-form-cancel-border: #2C3035;
        --settings-category-border: #1E2023;
        --settings-category-name-bg: #08090A;
        --settings-category-modify-border: #1A1A1A;
        --filter-settings-icon: invert(1) hue-rotate(180deg);
        --table-li-shadow: rgba(255, 255, 255, 0.1);
        --table-row-bg: #18191A;
        --table-header-bg: #242526;
        --scroll-thumb: rgba(255, 255, 255, 0.3);
        --filter-red: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) brightness(97%) contrast(96%) hue-rotate(-14deg) saturate(138%);
        --table-cloud-bg: rgba(0, 0, 0, .8);
        --select-bg-url: url('http://projetbdd/assets/image/select-white.png');
        --input-disabled-bg: rgba(59, 59, 59, 0.3);
        --input-disabled-border: rgba(118, 118, 118, 0.3);
        --input-disabled-color: rgb(170, 170, 170);
        --table-input-border: #56585a;
        --table-select-border: #56585a;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --wash: #3E4042;
        --accent: hsl(214, 100%, 59%);
        --divider: #3E4042;
        --blue-link: #216FDB;
        --primary-text: #E4E6EB;
        --primary-icon: #E4E6EB;
        --secondary-text: #B0B3B8;
        --secondary-icon: #B0B3B8;
        --background-color: #18191A;
        --nav-background-color: #242526;
        --navTop-logo-color: #FFFFFF;
        --comment-background: #3A3B3C;
        --comment-background-hover: #4E4F50;
        --comment-placeholder-focus : #8A8D91;
        --comment-placeholder: #b0b3b8;
        --primary-button-background: #2374E1;
        --primary-button-text: #ffffff;
        --secondary-button-background: rgba(255, 255, 255, .1);
        --hover-overlay: rgba(255, 255, 255, .1);
        --press-overlay: rgba(255, 255, 255, .1);
        --media-press: rgba(68, 73, 80, 0.35);
        --card-background: #242526;
        --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
        --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
        --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
        --filter-always-white: invert(100%);
        --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
        --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
        --primary-deemphasized-button-text: #2D88FF;
        --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
        --overlay-alpha-80: rgba(11, 11, 11, 0.8);
        --settings-background-color: #000000;
        --settings-list-border: #555555;
        --settings-li-border: #101215;
        --settings-content-background: #0d0d0d;
        --settings-form-label-border: #2C3035;
        --settings-form-label-text: #939AA3;
        --settings-form-divider-background: #333333;
        --settings-form-confirm-bg: #365899;
        --settings-form-confirm-press: #223760;
        --settings-form-confirm-hover: #2F4D86;
        --settings-form-confirm-text: #fff;
        --settings-form-cancel-bg: #08090A;
        --settings-form-cancel-press: #1E2023;
        --settings-form-cancel-hover: #101215;
        --settings-form-cancel-text: #9FA4AA;
        --settings-form-cancel-border: #2C3035;
        --settings-category-border: #1E2023;
        --settings-category-name-bg: #08090A;
        --settings-category-modify-border: #1A1A1A;
        --filter-settings-icon: invert(1) hue-rotate(180deg);
        --table-li-shadow: rgba(255, 255, 255, 0.1);
        --table-row-bg: #18191A;
        --table-header-bg: #242526;
        --scroll-thumb: rgba(255, 255, 255, 0.3);
        --filter-red: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) brightness(97%) contrast(96%) hue-rotate(-14deg) saturate(138%);
        --table-cloud-bg: rgba(0, 0, 0, .8);
        --select-bg-url: url('http://projetbdd/assets/image/select-white.png');
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --wash: #E4E6EB;
        --accent: hsl(214, 89%, 52%);
        --divider: #CED0D4;
        --blue-link: #216FDB;
        --base-blue: #1877F2;
        --primary-text: #050505;
        --primary-icon: #050505;
        --secondary-text: #65676B;
        --secondary-icon: #65676B;
        --background-color: #F0F2F5;
        --nav-background-color: #FFFFFF;
        --navTop-logo-color: #1877F2;
        --comment-background: #F0F2F5;
        --comment-background-hover: #E4E6E9;
        --comment-placeholder-focus : #65676B;
        --comment-placeholder: #65676B;
        --primary-button-background: #1B74E4;
        --primary-button-text: #ffffff;
        --secondary-button-background: #E4E6EB;
        --hover-overlay: rgba(0, 0, 0, .05);
        --press-overlay: rgba(0, 0, 0, .1);
        --media-press: rgba(68, 73, 80, 0.35);
        --card-background: #FFFFFF;
        --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
        --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
        --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
        --filter-always-white: invert(100%);
        --filter-placeholder-icon: invert(59%) sepia(11%) saturate(200%) saturate(135%) hue-rotate(176deg) brightness(96%) contrast(94%);
        --primary-deemphasized-button-background: #E7F3FF;
        --primary-deemphasized-button-text: #1877F2;
        --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
        --overlay-alpha-80: rgba(244, 244, 244, 0.8);
        --settings-background-color: #FFFFFF;
        --settings-list-border: #AAAAAA;
        --settings-li-border: #EBEDF0;
        --settings-content-background: #f2f2f2;
        --settings-form-label-border: #CCD0D5;
        --settings-form-label-text: #606770;
        --settings-form-divider-background: #CCCCCC;
        --settings-form-confirm-bg: #365899;
        --settings-form-confirm-press: #223760;
        --settings-form-confirm-hover: #2F4D86;
        --settings-form-confirm-text: #fff;
        --settings-form-cancel-bg: #f5f6f7;
        --settings-form-cancel-press: #DDDFE2;
        --settings-form-cancel-hover: #EBEDF0;
        --settings-form-cancel-text: #4b4f56;
        --settings-form-cancel-border: #ccd0d5;
        --settings-category-border: #dddfe2;
        --settings-category-name-bg: #f5f6f7;
        --settings-category-modify-border: #e5e5e5;
        --filter-settings-icon: none;
        --table-li-shadow: rgba(0, 0, 0, 0.1);
        --table-row-bg: #F0F2F5;
        --table-header-bg: #fff;
        --scroll-thumb: #BCC0C4;
        --filter-red: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) brightness(97%) contrast(96%) hue-rotate(-14deg) saturate(138%);
        --table-cloud-bg: rgba(255, 255, 255, .8);
        --select-bg-url: url('http://projetbdd/assets/image/select-black.png');
    }
}