.settings#account {
    .settings-list {
        border-top: 1px solid var(--settings-list-border);
        border-bottom: 1px solid var(--settings-list-border);

        li {
            list-style-type: none;
            padding: 8px 0;
            border-top: 1px solid var(--settings-li-border);

            &:first-child {
                border: none;
            }

            &[data-status='modifying'] {
                .settings-modify { display: none; }
                .settings-content { display: flex; }
            }
            
            .settings-content { display: none; }
        }
    }

    .settings-modify {
        padding: 10px 5px;
        display: block;
        position: relative;
        cursor: pointer;

        &:hover {
            background-color: var(--hover-overlay);

            .settings-modify-action {
                text-decoration: underline;
            }
        }

        .settings-modify-name {
            display: inline-block;

            h3 {
                color: var(--primary-text);
                font-size: 15px;
                font-weight: 600;
                line-height: 20px;
                padding-right: 5px;
                padding-left: 5px;
                width: 190px;
            }
        }

        .settings-modify-value {
            display: inline-block;

            span {
                color: var(--secondary-text);
                font-size: 15px;
                line-height: 20px;
                font-weight: 400;

                strong {
                    font-size: inherit;
                    font-weight: 600;
                    color: inherit;
                    line-height: inherit;
                }
            }
        }

        .settings-modify-action {
            text-decoration: none;
            padding-right: 5px;
            float: right;

            span {
                color: var(--blue-link);
                line-height: 20px;
                font-size: 15px;
                font-weight: 400;
                text-decoration: inherit;
                text-align: right;
            }
        }
    }
}