.settings#security {
    .settings-category {
        border-radius: 3px;
        border: 1px solid var(--settings-category-border);
        margin-bottom: 10px;

        .settings-category-name {
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;
            padding: 12px;
            background-color: var(--settings-category-name-bg);

            h3 {
                font-size: 16px;
                font-weight: 600;
                line-height: 20px;
                color: var(--primary-text);
            }
        }

        .settings-category-list {
            &:first-child {
                border-top: none;
            }
        }
    }

    .settings-modify {
        position: relative;
        border-top: 1px solid var(--settings-category-modify-border);
        padding: 12px;
        background-color: var(--settings-background-color);
        
        &[data-status="modifying"] {
            background-color: var(--settings-content-background);
            & > :first-child { cursor: default; }
            .settings-content { display: flex; }
            .settings-modify-text h3,
            .settings-modify-text span {
                cursor: text;
            }
        }
        .settings-content { display: none; }

        & > :first-child {
            height: 40px;
            cursor: pointer;
            display: flex;
        }

        .settings-modify-icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 44px;
            height: 40px;

            img {
                height: 20px;
                width: 20px;
                filter: var(--filter-settings-icon);
            }
        }

        .settings-modify-text {
            display: flex;
            flex-direction: column;

            h3, span {
                font-size: 15px;
                font-weight: 400;
                line-height: 20px;
                text-align: left;
                width: fit-content;
            }

            h3 {
                color: var(--primary-text);
            }

            span {
                color: var(--secondary-text);
            }
        }

        .settings-modify-button {
            display: flex;
            align-items: center;
            justify-content: flex-end;
            flex-grow: 1;
        }
    }
    
    .settings-content {
        border-top: 1px solid var(--settings-form-divider-background);
        margin-top: 10px;
    }

    .settings-form {
        margin-left: 111px;
    }
}