.code-box {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #fff;
}

.code-head {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    h2 {
        font-size: 20px;
        line-height: 24px;
        padding: 18px 16px 18px 18px;
        margin: 0;
    }
}

.code-info {
    padding: 16px;

    .text {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .inline {
        display: flex;
    }
}

.code-input {
    width: 50%;

    input {
        border-radius: 6px;
        font-size: 16px;
        padding: 16px 0 16px 16px;
        max-width: 90%;
        color: #8a8d91;
        border: 1px solid #ccd0d5;
        width: 444px;
    }
}

.code-email {
    padding-left: 12px;
    max-width: 45%;
    
    div {
        font-size: 15px;
        line-height: 20px;
        margin-bottom: 10px;
        word-wrap: break-word;
    }

    .email {
        font-size: 13px;
        line-height: 16px;
        text-align: left;
    }
    
}

.code-button {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: end;
    position: relative;

    .left {
        position: absolute;
        left: 16px;
        top: 25px;
    }

    .a-button {
        padding: 0 20px;
        background-color: #e4e6eb;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        line-height: 36px;
        color: #4b4f56;
        display: inline-block;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }

    button {
        padding: 0 20px;
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        line-height: 36px;
        margin-left: 8px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(.08,.52,.52,1);
    
        &:hover {
            background-color: #166FE5;
        }
    }
}