.identify-input {
    border-radius: 6px;
    color: #8a8d91;
    font-size: 16px;
    padding: 16px 0 16px 16px;
    border: 1px solid #ccd0d5;
    display: inline-block;
    width: 462px;
    margin: 0 3px;
}