.password-input {
    display: flex;

    & > div {
        max-width: 416px;
        display: flex;
        border: 1px solid #dddfe2;
        border-radius: 6px;
    
        & > input {
            border-radius: 6px;
            font-size: 16px;
            padding: 16px 0 16px 16px;
            max-width: 90%;
            border: none;
            color: #8a8d91;
            width: 444px;
            max-width: 84%;
        }

        & > :last-child {
            background-color: #fff;
            color: #216fdb;
            font-size: 16px;
            line-height: 22px;
            color: #216fdb;
        }
    }
    
    & > :last-child {
        background-color: #e4e6eb;
        font-size: 17px;
        line-height: 53px;
        margin-left: 5px;
        width: 44px;
        color: #4b4f56;
        
    }
    
    button {
        text-align: center;
        padding: 0 8px;
        border: none;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        display: inline-block;

        &:hover {
            background-color: #EBEDF0;
        }
    }
}

.password-cloud {
    background-color: rgba(0, 0, 0, .4);
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}

.card-help {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    align-items: stretch;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);

    &__head {
        padding: 10px 16px;
        border-bottom: 1px solid #dadde1;
        position: relative;
    
        img {
            position: absolute;
            right: 10px;
            top: 12px;
        }
    
        div {
            font-size: 20px;
            line-height: 24px;
            text-align: start;
            color: #1c1e21;
            text-align: center;
        }
    }
    
    &__body {
        padding: 12px 16px;
    
        & > div {
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 16px;
            text-align: left;
        
            ul {
                list-style-type: none;
                margin: 0;
                padding: 0;
            }
        }
    
        & > button {
            background-color: #1877f2;
            border: none;
            border-radius: 6px;
            color: #fff;
            font-size: 15px;
            line-height: 36px;
            font-weight: bold;
            padding: 0 40px;
            cursor: pointer;
            float: right;
        
            &:hover {
                background-color: #166FE5;
            }
        }
    }
}

