.password-box {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    background-color: #fff;
}

.password-head {
    border-bottom: 1px solid rgba(0, 0, 0, .1);

    h2 {
        font-size: 20px;
        line-height: 24px;
        padding: 18px 16px 18px 18px;
        margin: 0;
    }
}

.password-info {
    padding: 16px;

    .text {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    .inline {
        display: flex;

        .button {
            background-color: #e4e6eb;
            border: none;
            border-radius: 6px;
            font-size: 17px;
            font-weight: bold;
            line-height: 53px;
            width: 54px;
            padding: 0;
            cursor: pointer;
            margin-left: 5px;
            color: #4b4f56;

            &:hover {
                background-color: #EBEDF0;
            }
        }
    }
}

.password-input {
    max-width: 416px;
    display: flex;
    border: 1px solid #dddfe2;
    border-radius: 6px;

    input {
        border-radius: 6px;
        font-size: 16px;
        padding: 16px 0 16px 16px;
        max-width: 90%;
        border: none;
        color: #8a8d91;
        width: 444px;
        max-width: 84%;
    }

    button {
        background-color: #fff;
        color: #216fdb;
        font-size: 16px;
        padding: 0 8px;
        line-height: 22px;
        border-radius: 6px;
        font-weight: bold;
        cursor: pointer;
        border: none;
        display: inline-block;
        color: #216fdb;

        &:hover {
            background-color: #EBEDF0;
        }
    }
}

.password-button {
    padding: 16px;
    border-top: 1px solid rgba(0, 0, 0, .1);
    text-align: end;
    position: relative;

    a {
        padding: 0 29px;
        background-color: #e4e6eb;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        line-height: 36px;
        color: #4b4f56;
        display: inline-block;
        font-weight: bold;

        &:hover {
            text-decoration: none;
        }
    }

    button {
        padding: 0 20px;
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        font-size: 15px;
        line-height: 36px;
        margin-left: 8px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
        transition-property: background-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(.08,.52,.52,1);
    
        &:hover {
            background-color: #166FE5;
        }
    }
}
.password-cloud {
    background-color: rgba(0, 0, 0, .4);
    min-height: 100vh;
    min-width: 100vw;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 400;
}

.help-box {
    display: flex;
    flex-direction: column;
    width: 500px;
    text-align: center;
    align-items: stretch;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
}

.help-head {
    padding: 10px 16px;
    border-bottom: 1px solid #dadde1;
    position: relative;

    img {
        position: absolute;
        right: 10px;
        top: 12px;
    }

    div {
        font-size: 20px;
        line-height: 24px;
        text-align: start;
        color: #1c1e21;
        text-align: center;
    }
}

.help-info {
    padding: 12px 16px;

    .help-text {
        font-size: 17px;
        line-height: 20px;
        margin-bottom: 16px;
        text-align: left;
    
        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }
    }

    button {
        background-color: #1877f2;
        border: none;
        border-radius: 6px;
        color: #fff;
        font-size: 15px;
        line-height: 36px;
        font-weight: bold;
        padding: 0 40px;
        cursor: pointer;
        float: right;
        transition-property: background-color;
        transition-duration: 200ms;
        transition-timing-function: cubic-bezier(.08,.52,.52,1);
    
        &:hover {
            background-color: #166FE5;
        }
    }
}