:root {
  --wash: #E4E6EB;
  --accent: hsl(214, 89%, 52%);
  --divider: #CED0D4;
  --blue-link: #216FDB;
  --base-blue: #1877F2;
  --primary-text: #050505;
  --primary-icon: #050505;
  --secondary-text: #65676B;
  --secondary-icon: #65676B;
  --background-color: #F0F2F5;
  --nav-background-color: #FFFFFF;
  --navTop-logo-color: #1877F2;
  --comment-background: #F0F2F5;
  --comment-background-hover: #E4E6E9;
  --comment-placeholder-focus: #65676B;
  --secondary-button-background: #E4E6EB;
  --hover-overlay: rgba(0, 0, 0, .05);
  --press-overlay: rgba(0, 0, 0, .1);
  --media-press: rgba(68, 73, 80, 0.35);
  --card-background: #FFFFFF;
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --filter-always-white: invert(100%);
  --primary-deemphasized-button-background: #E7F3FF;
  --primary-deemphasized-button-text: #1877F2;
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --settings-background-color: #FFFFFF;
  --settings-list-border: #AAAAAA;
  --settings-li-border: #EBEDF0;
  --settings-content-background: #f2f2f2;
  --settings-form-label-border: #CCD0D5;
  --settings-form-label-text: #606770;
  --settings-form-divider-background: #CCCCCC;
  --settings-form-confirm-bg: #365899;
  --settings-form-confirm-press: #223760;
  --settings-form-confirm-hover: #2F4D86;
  --settings-form-confirm-text: #fff;
  --settings-form-cancel-bg: #f5f6f7;
  --settings-form-cancel-press: #DDDFE2;
  --settings-form-cancel-hover: #EBEDF0;
  --settings-form-cancel-text: #4b4f56;
  --settings-form-cancel-border: #ccd0d5;
  --filter-settings-icon: none;
}

html.__pj-light-mode {
  --wash: #E4E6EB;
  --accent: hsl(214, 89%, 52%);
  --divider: #CED0D4;
  --blue-link: #216FDB;
  --base-blue: #1877F2;
  --primary-text: #050505;
  --primary-icon: #050505;
  --secondary-text: #65676B;
  --secondary-icon: #65676B;
  --background-color: #F0F2F5;
  --nav-background-color: #FFFFFF;
  --navTop-logo-color: #1877F2;
  --comment-background: #F0F2F5;
  --comment-background-hover: #E4E6E9;
  --comment-placeholder-focus: #65676B;
  --secondary-button-background: #E4E6EB;
  --hover-overlay: rgba(0, 0, 0, .05);
  --press-overlay: rgba(0, 0, 0, .1);
  --media-press: rgba(68, 73, 80, 0.35);
  --card-background: #FFFFFF;
  --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
  --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
  --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
  --filter-always-white: invert(100%);
  --primary-deemphasized-button-background: #E7F3FF;
  --primary-deemphasized-button-text: #1877F2;
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --overlay-alpha-80: rgba(244, 244, 244, 0.8);
  --settings-background-color: #FFFFFF;
  --settings-list-border: #AAAAAA;
  --settings-li-border: #EBEDF0;
  --settings-content-background: #f2f2f2;
  --settings-form-label-border: #CCD0D5;
  --settings-form-label-text: #606770;
  --settings-form-divider-background: #CCCCCC;
  --settings-form-confirm-bg: #365899;
  --settings-form-confirm-press: #223760;
  --settings-form-confirm-hover: #2F4D86;
  --settings-form-confirm-text: #fff;
  --settings-form-cancel-bg: #f5f6f7;
  --settings-form-cancel-press: #DDDFE2;
  --settings-form-cancel-hover: #EBEDF0;
  --settings-form-cancel-text: #4b4f56;
  --settings-form-cancel-border: #ccd0d5;
  --settings-category-border: #dddfe2;
  --settings-category-name-bg: #f5f6f7;
  --settings-category-modify-border: #e5e5e5;
  --filter-settings-icon: none;
}
html.__pj-dark-mode {
  --wash: #3E4042;
  --accent: hsl(214, 100%, 59%);
  --divider: #3E4042;
  --blue-link: #4599FF;
  --base-blue: #1877F2;
  --primary-text: #E4E6EB;
  --primary-icon: #E4E6EB;
  --secondary-text: #B0B3B8;
  --secondary-icon: #B0B3B8;
  --background-color: #18191A;
  --nav-background-color: #242526;
  --navTop-logo-color: #FFFFFF;
  --comment-background: #3A3B3C;
  --comment-background-hover: #4E4F50;
  --comment-placeholder-focus: #8A8D91;
  --secondary-button-background: rgba(255, 255, 255, .1);
  --hover-overlay: rgba(255, 255, 255, .1);
  --press-overlay: rgba(255, 255, 255, .1);
  --media-press: rgba(68, 73, 80, 0.35);
  --card-background: #242526;
  --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
  --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
  --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
  --filter-always-white: invert(100%);
  --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
  --primary-deemphasized-button-text: #2D88FF;
  --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
  --overlay-alpha-80: rgba(11, 11, 11, 0.8);
  --settings-background-color: #000000;
  --settings-list-border: #555555;
  --settings-li-border: #101215;
  --settings-content-background: #0d0d0d;
  --settings-form-label-border: #2C3035;
  --settings-form-label-text: #939AA3;
  --settings-form-divider-background: #333333;
  --settings-form-confirm-bg: #365899;
  --settings-form-confirm-press: #223760;
  --settings-form-confirm-hover: #2F4D86;
  --settings-form-confirm-text: #fff;
  --settings-form-cancel-bg: #08090A;
  --settings-form-cancel-press: #1E2023;
  --settings-form-cancel-hover: #101215;
  --settings-form-cancel-text: #9FA4AA;
  --settings-form-cancel-border: #2C3035;
  --settings-category-border: #1E2023;
  --settings-category-name-bg: #08090A;
  --settings-category-modify-border: #1A1A1A;
  --filter-settings-icon: invert(1) hue-rotate(180deg);
}

@media (prefers-color-scheme: dark) {
  :root {
    --wash: #3E4042;
    --accent: hsl(214, 100%, 59%);
    --divider: #3E4042;
    --blue-link: #216FDB;
    --primary-text: #E4E6EB;
    --primary-icon: #E4E6EB;
    --secondary-text: #B0B3B8;
    --secondary-icon: #B0B3B8;
    --background-color: #18191A;
    --nav-background-color: #242526;
    --navTop-logo-color: #FFFFFF;
    --comment-background: #3A3B3C;
    --comment-background-hover: #4E4F50;
    --comment-placeholder-focus: #8A8D91;
    --secondary-button-background: rgba(255, 255, 255, .1);
    --hover-overlay: rgba(255, 255, 255, .1);
    --press-overlay: rgba(255, 255, 255, .1);
    --media-press: rgba(68, 73, 80, 0.35);
    --card-background: #242526;
    --filter-primary-icon: invert(89%) sepia(6%) hue-rotate(185deg);
    --filter-accent: invert(40%) sepia(52%) saturate(200%) saturate(200%) saturate(200%) saturate(189%) hue-rotate(191deg) brightness(103%) contrast(102%);
    --filter-secondary-icon: invert(62%) sepia(98%) saturate(12%) hue-rotate(175deg) brightness(90%) contrast(96%);
    --filter-always-white: invert(100%);
    --primary-deemphasized-button-background: rgba(45, 136, 255, 0.2);
    --primary-deemphasized-button-text: #2D88FF;
    --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
    --overlay-alpha-80: rgba(11, 11, 11, 0.8);
    --settings-background-color: #000000;
    --settings-list-border: #555555;
    --settings-li-border: #101215;
    --settings-content-background: #0d0d0d;
    --settings-form-label-border: #2C3035;
    --settings-form-label-text: #939AA3;
    --settings-form-divider-background: #333333;
    --settings-form-confirm-bg: #365899;
    --settings-form-confirm-press: #223760;
    --settings-form-confirm-hover: #2F4D86;
    --settings-form-confirm-text: #fff;
    --settings-form-cancel-bg: #08090A;
    --settings-form-cancel-press: #1E2023;
    --settings-form-cancel-hover: #101215;
    --settings-form-cancel-text: #9FA4AA;
    --settings-form-cancel-border: #2C3035;
    --settings-category-border: #1E2023;
    --settings-category-name-bg: #08090A;
    --settings-category-modify-border: #1A1A1A;
    --filter-settings-icon: invert(1) hue-rotate(180deg);
  }
}
@media (prefers-color-scheme: light) {
  :root {
    --wash: #E4E6EB;
    --accent: hsl(214, 89%, 52%);
    --divider: #CED0D4;
    --blue-link: #216FDB;
    --base-blue: #1877F2;
    --primary-text: #050505;
    --primary-icon: #050505;
    --secondary-text: #65676B;
    --secondary-icon: #65676B;
    --background-color: #F0F2F5;
    --nav-background-color: #FFFFFF;
    --navTop-logo-color: #1877F2;
    --comment-background: #F0F2F5;
    --comment-background-hover: #E4E6E9;
    --comment-placeholder-focus: #65676B;
    --secondary-button-background: #E4E6EB;
    --hover-overlay: rgba(0, 0, 0, .05);
    --press-overlay: rgba(0, 0, 0, .1);
    --media-press: rgba(68, 73, 80, 0.35);
    --card-background: #FFFFFF;
    --filter-primary-icon: invert(8%) sepia(10%) saturate(200%) saturate(200%) saturate(166%) hue-rotate(177deg) brightness(104%) contrast(91%);
    --filter-accent: invert(39%) sepia(57%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(200%) saturate(147.75%) hue-rotate(202deg) brightness(97%) contrast(96%);
    --filter-secondary-icon: invert(39%) sepia(21%) saturate(200%) saturate(109.5%) hue-rotate(174deg) brightness(94%) contrast(86%);
    --filter-always-white: invert(100%);
    --primary-deemphasized-button-background: #E7F3FF;
    --primary-deemphasized-button-text: #1877F2;
    --primary-deemphasized-button-pressed-overlay: rgba(25, 110, 255, 0.15);
    --overlay-alpha-80: rgba(244, 244, 244, 0.8);
    --settings-background-color: #FFFFFF;
    --settings-list-border: #AAAAAA;
    --settings-li-border: #EBEDF0;
    --settings-content-background: #f2f2f2;
    --settings-form-label-border: #CCD0D5;
    --settings-form-label-text: #606770;
    --settings-form-divider-background: #CCCCCC;
    --settings-form-confirm-bg: #365899;
    --settings-form-confirm-press: #223760;
    --settings-form-confirm-hover: #2F4D86;
    --settings-form-confirm-text: #fff;
    --settings-form-cancel-bg: #f5f6f7;
    --settings-form-cancel-press: #DDDFE2;
    --settings-form-cancel-hover: #EBEDF0;
    --settings-form-cancel-text: #4b4f56;
    --settings-form-cancel-border: #ccd0d5;
    --settings-category-border: #dddfe2;
    --settings-category-name-bg: #f5f6f7;
    --settings-category-modify-border: #e5e5e5;
    --filter-settings-icon: none;
  }
}
body {
  background-color: var(--background-color);
  line-height: 1.34;
}

a {
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
}

input {
  outline: none;
  text-rendering: auto;
  appearance: auto;
  text-align: start;
}

select {
  border: 1px solid #ccd0d5;
  align-items: center;
  text-align: start;
  -webkit-appearance: none;
  appearance: none;
  background-image: url(https://static.xx.fbcdn.net/rsrc.php/v3/yP/r/Yrq8Y9PlN02.png);
  background-repeat: no-repeat;
  background-size: 14px;
  background-position: right 5px center;
}

button {
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}

.globalContainer {
  position: absolute;
  top: 55px;
  left: 420px;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  background-color: var(--settings-background-color);
  z-index: 0;
}

@font-face {
  font-family: "Segoe UI Historic";
  src: local("Arial");
  unicode-range: U+530-5f4, U+10a0-10ff;
}
@font-face {
  font-family: "Segoe UI Historic";
  font-weight: 700;
  src: local("Arial Bold"), local("Arial");
  unicode-range: U+530-5f4, U+10a0-10ff;
}
#projetbdd .system-fonts--body.segoe {
  font-family: Segoe UI Historic, Segoe UI, Helvetica, Arial, sans-serif;
}

#projetbdd .system-fonts--body.arial {
  font-family: Arial, Helvetica, sans-serif;
}

#projetbdd .system-fonts--body div {
  font-family: inherit;
}

#projetbdd .system-fonts--body span {
  font-family: inherit;
}

#projetbdd .system-fonts--body a {
  font-family: inherit;
}

#projetbdd .system-fonts--body h1,
#projetbdd .system-fonts--body h2,
#projetbdd .system-fonts--body h3,
#projetbdd .system-fonts--body h4,
#projetbdd .system-fonts--body h5,
#projetbdd .system-fonts--body h6,
#projetbdd .system-fonts--body p {
  font-family: inherit;
}

.card-login {
  display: flex;
  flex-direction: column;
  width: 396px;
  padding-top: 10px;
  padding-bottom: 24px;
  text-align: center;
  align-items: center;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.card-login__id {
  width: 364px;
  padding: 6px 0;
  border: none;
  text-align: start;
  position: relative;
}
.card-login__id input {
  border: 1px solid #dddfe2;
  display: inline-block;
  width: 364px;
  font-size: 17px;
  border-radius: 6px;
  line-height: 16px;
  padding: 14px 16px;
}
.card-login__id input:focus {
  border-color: #1b74e4;
  box-shadow: 0 0 0 2px #e7f3ff;
  caret-color: #1b74e4;
}
.card-login__id input[type=password] {
  padding-right: 46px;
}

.iconPassword {
  border-radius: 50%;
  height: 28px;
  position: absolute;
  cursor: pointer;
  width: 28px;
  right: 8px;
  top: 18px;
}
.iconPassword:hover {
  background-color: #F2F2F2;
}
.iconPassword img {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 6px;
  top: 6px;
}

.login-button {
  padding-top: 6px;
}
.login-button button {
  font-size: 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  padding: 0 16px;
  width: 364px;
  display: inline-block;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}
.login-button button:hover {
  background-color: #166FE5;
}
.login-button a {
  font-size: 17px;
  background-color: #42b72a;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 6px;
  line-height: 48px;
  font-weight: bold;
  padding: 0 16px;
  text-shadow: none;
  display: inline-block;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
}
.login-button a:hover {
  background-color: #36A420;
}

.pass-forget {
  margin-top: 16px;
}
.pass-forget a {
  color: #1877f2;
}
.pass-forget a:hover {
  text-decoration: underline;
}

.line {
  margin: 20px 16px;
  border-bottom: 1px solid #dadde1;
}

.register-box {
  display: flex;
  flex-direction: column;
  width: 432px;
  text-align: center;
  align-items: stretch;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.register-head {
  padding: 10px 16px;
  border-bottom: 1px solid #dadde1;
  position: relative;
}
.register-head img {
  position: absolute;
  right: 10px;
  top: 12px;
}
.register-head .fcb {
  font-size: 32px;
  line-height: 38px;
  text-align: start;
  font-weight: 600;
  color: #1c1e21;
}
.register-head .fcg {
  font-size: 15px;
  line-height: 24px;
  text-align: start;
  color: #606770;
}

.register-info {
  padding: 16px;
}

.register-input {
  border: 1px solid #ccd0d5;
  background-color: #f5f6f7;
  width: 194px;
  font-size: 15px;
  border-radius: 5px;
  line-height: 16px;
  padding: 11px;
  outline: none;
}
.register-input::placeholder {
  color: #8D949E !important;
}

.long {
  width: 400px;
}

.little-text {
  color: #606770;
  font-size: 12px;
  font-weight: normal;
  line-height: 20px;
  margin-top: 2px;
  text-align: start;
}

.register-select {
  border-radius: 4px;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  height: 36px;
  line-height: 20px;
  padding: 0 20px 0 8px;
  width: 125px;
}

.register-label {
  box-sizing: border-box;
  color: #1c1e21;
  font-size: 15px;
  font-weight: normal;
  line-height: 36px;
  padding: 0 28px 0 10px;
  width: 100%;
  display: inline-block;
}

.register-radio {
  height: 36px;
  position: absolute;
  right: 10px;
  top: 0;
  margin: 0;
}

.register-button {
  border: none;
  border-radius: 6px;
  font-size: 18px;
  box-shadow: none;
  color: #fff;
  overflow: hidden;
  padding: 0 32px;
  text-shadow: none;
  height: 36px;
  line-height: 126%;
  margin: 10px 0;
  min-width: 194px;
  font-weight: bold;
  background-color: #00a400;
  transition-property: background-color;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  cursor: pointer;
}
.register-button:hover {
  background-color: #008000;
}

.cloud {
  background-color: rgba(255, 255, 255, 0.8);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  z-index: 400;
}

._10pad {
  padding-bottom: 10px;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  width: 411px;
  text-align: left;
  justify-content: normal;
  margin: -8px -6px -6px -6px;
}
.flex-wrap span {
  margin: 8px 6px 6px 6px;
  position: relative;
  flex: 1 0 auto;
  border: 1px solid #ccd0d5;
  background-color: #fff;
  height: 36px;
  border-radius: 4px;
}

.identify-input {
  border-radius: 6px;
  color: #8a8d91;
  font-size: 16px;
  padding: 16px 0 16px 16px;
  border: 1px solid #ccd0d5;
  display: inline-block;
  width: 462px;
  margin: 0 3px;
}

.recover-input-radio {
  display: inline-block;
}
.recover-input-radio label {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  padding: 6px 6px;
  cursor: default;
}
.recover-input-radio label > input {
  height: 20px;
  width: 20px;
  margin: 0;
  margin-top: 2px;
  position: absolute;
}
.recover-input-radio label > div > :first-child {
  color: #333;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 4px;
  margin-left: 32px;
}
.recover-input-radio label > div > :last-child {
  font-size: 13px;
  line-height: 16px;
  margin-left: 32px;
}
.recover-input-radio label:hover {
  background-color: #E9EBEE;
}

.recover-user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-grow: 1;
}
.recover-user > img {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  border: none;
  align-self: center;
  margin-bottom: 16px;
}
.recover-user > div {
  flex-wrap: nowrap;
  text-align: center;
}
.recover-user > div > :first-child {
  font-size: 15px;
  line-height: 20px;
  color: #1c1e21;
}
.recover-user > div > :last-child {
  font-size: 13px;
  line-height: 16px;
  color: #606770;
}

#left {
  float: left;
  font-family: inherit;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  text-decoration: none;
  background-color: #fff;
  padding: 0;
  color: #1877f2;
}
#left:hover {
  text-decoration: underline;
}

.input-code {
  width: 50%;
}
.input-code input {
  border-radius: 6px;
  font-size: 16px;
  padding: 16px 0 16px 16px;
  max-width: 90%;
  color: #8a8d91;
  border: 1px solid #ccd0d5;
  width: 444px;
}

.info-code {
  padding-left: 12px;
  max-width: 45%;
}
.info-code > :first-child {
  font-size: 15px;
  line-height: 20px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
.info-code > :last-child {
  font-size: 13px;
  line-height: 16px;
  text-align: left;
}

.password-input {
  display: flex;
}
.password-input > div {
  max-width: 416px;
  display: flex;
  border: 1px solid #dddfe2;
  border-radius: 6px;
}
.password-input > div > input {
  border-radius: 6px;
  font-size: 16px;
  padding: 16px 0 16px 16px;
  max-width: 90%;
  border: none;
  color: #8a8d91;
  width: 444px;
  max-width: 84%;
}
.password-input > div > :last-child {
  background-color: #fff;
  color: #216fdb;
  font-size: 16px;
  line-height: 22px;
  color: #216fdb;
}
.password-input > :last-child {
  background-color: #e4e6eb;
  font-size: 17px;
  line-height: 53px;
  margin-left: 5px;
  width: 44px;
  color: #4b4f56;
}
.password-input button {
  text-align: center;
  padding: 0 8px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  display: inline-block;
}
.password-input button:hover {
  background-color: #EBEDF0;
}

.password-cloud {
  background-color: rgba(0, 0, 0, 0.4);
  min-height: 100vh;
  min-width: 100vw;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 400;
}

.card-help {
  display: flex;
  flex-direction: column;
  width: 500px;
  text-align: center;
  align-items: stretch;
  background-color: #fff;
  border: none;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
}
.card-help__head {
  padding: 10px 16px;
  border-bottom: 1px solid #dadde1;
  position: relative;
}
.card-help__head img {
  position: absolute;
  right: 10px;
  top: 12px;
}
.card-help__head div {
  font-size: 20px;
  line-height: 24px;
  text-align: start;
  color: #1c1e21;
  text-align: center;
}
.card-help__body {
  padding: 12px 16px;
}
.card-help__body > div {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 16px;
  text-align: left;
}
.card-help__body > div ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.card-help__body > button {
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  color: #fff;
  font-size: 15px;
  line-height: 36px;
  font-weight: bold;
  padding: 0 40px;
  cursor: pointer;
  float: right;
}
.card-help__body > button:hover {
  background-color: #166FE5;
}

.card-recover {
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -60%);
  background-color: #fff;
}
.card-recover__head {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.card-recover__head h2 {
  font-size: 20px;
  line-height: 24px;
  padding: 18px 16px 18px 18px;
  margin: 0;
}
.card-recover__body {
  padding: 16px;
}
.card-recover__body > :first-child {
  font-size: 17px;
  line-height: 20px;
  margin-bottom: 20px;
}
.card-recover__footer {
  padding: 16px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  text-align: end;
  position: relative;
}
.card-recover__footer a {
  padding: 0 20px;
  background-color: #e4e6eb;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  color: #4b4f56;
  display: inline-block;
  font-weight: bold;
}
.card-recover__footer a:hover {
  text-decoration: none;
}
.card-recover__footer button {
  padding: 0 20px;
  background-color: #1877f2;
  border: none;
  border-radius: 6px;
  font-size: 15px;
  line-height: 36px;
  margin-left: 8px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}
.card-recover__footer button:hover {
  background-color: #166FE5;
}

.card-profil {
  width: 360px;
  box-shadow: 0 12px 28px 0 rgba(0, 0, 0, 0.2), 0 2px 4px 0 rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  background-color: var(--card-background);
  position: relative;
  padding-top: 8px;
  overflow: hidden;
}
.card-profil[data-status=hidden] {
  display: none;
}
.card-profil__users {
  margin: 4px 16px 16px 16px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 4px;
}
.card-profil__users > a {
  display: flex;
  height: 60px;
  border-radius: 6px;
  align-items: center;
  padding: 8px;
}
.card-profil__users > a > span {
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
  padding: 4px;
  color: var(--primary-text);
}
.card-profil__users > a > svg {
  margin: 4px;
}
.card-profil__users > a:hover {
  background-color: var(--hover-overlay);
  text-decoration: none;
}
.card-profil__body {
  padding: 4px 0 8px 0;
  display: block;
}
.card-profil__body > div {
  padding: 0 8px;
}
.card-profil__body > div > :first-child {
  padding: 0 8px;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 8px;
}
.card-profil__body > div > :first-child > div {
  margin: 8px 12px 8px 0;
  height: 36px;
  width: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-button-background);
  border-radius: 50%;
}
.card-profil__body > div > :first-child > div > i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.card-profil__body > div > :first-child > span {
  padding: 12px 0;
  display: flex;
  width: 244px;
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-text);
}
.card-profil__body > div > :first-child > i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.card-profil__body > div > :first-child:hover {
  text-decoration: none;
  background-color: var(--hover-overlay);
}
.card-profil__display-head {
  padding: 8px 16px;
  display: flex;
  align-items: center;
  justify-content: baseline;
}
.card-profil__display-head > div {
  border-radius: 50%;
  padding: 8px;
  cursor: pointer;
  display: flex;
}
.card-profil__display-head > div > i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.card-profil__display-head > div:hover {
  background-color: var(--hover-overlay);
}
.card-profil__display-head > h2 {
  padding-left: 10px;
  font-size: 24px;
  font-weight: 700;
  color: var(--primary-text);
}
.card-profil__display-body {
  margin: 4px 8px 8px 8px;
}
.card-profil__display-body > :first-child {
  padding: 12px 8px;
  margin: -6px;
  display: flex;
}
.card-profil__display-body > :first-child > .icon {
  background-color: var(--secondary-button-background);
  border-radius: 50%;
  height: 36px;
  width: 36px;
  margin: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-profil__display-body > :first-child > .icon > i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.card-profil__display-body > :first-child > :last-child {
  padding: 6px;
  width: 292px;
  display: flex;
  flex-direction: column;
}
.card-profil__display-body > :first-child > :last-child > :first-child {
  font-size: 17px;
  font-weight: 600;
  color: var(--primary-text);
}
.card-profil__display-body > :first-child > :last-child > :last-child {
  font-size: 14px;
  font-weight: 400;
  color: var(--primary-text);
}
.card-profil__display-body > :last-child > label[for=USE_SYSTEME] div {
  display: flex;
  flex-direction: column;
}
.card-profil__display-body > :last-child > label[for=USE_SYSTEME] div > :first-child {
  color: var(--primary-text);
}
.card-profil__display-body > :last-child > label[for=USE_SYSTEME] div > :last-child {
  color: var(--secondary-text);
}
.card-profil__display-body > :last-child > label {
  margin-left: 48px;
  display: flex;
  align-items: center;
  padding: 12px 8px;
  border-radius: 8px;
  cursor: pointer;
}
.card-profil__display-body > :last-child > label > span {
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: baseline;
  width: 260px;
  color: var(--primary-text);
}
.card-profil__display-body > :last-child > label > i {
  -webkit-filter: var(--filter-secondary-icon);
  filter: var(--filter-secondary-icon);
}
.card-profil__display-body > :last-child > label > i.checked {
  -webkit-filter: var(--filter-accent);
  filter: var(--filter-accent);
}
.card-profil__display-body > :last-child > label:hover {
  background-color: var(--hover-overlay);
}

.card-profil > div {
  position: absolute;
  width: 100%;
  transition-property: transform;
  transition-timing-function: cubic-bezier(0.08, 0.52, 0.52, 1);
  transition-duration: 200ms;
}
.card-profil > div[data-status=active] {
  transform: translateX(0%) translateZ(1px);
}
.card-profil > div[data-status=after] {
  transform: translateX(100%) translateZ(1px);
}
.card-profil > div[data-status=before] {
  transform: translateX(-100%) translateZ(1px);
}

.navTop {
  display: flex;
  flex-direction: row;
  height: 56px;
  width: 100%;
  position: fixed;
  background-color: var(--nav-background-color);
  border-bottom: 1px solid var(--wash);
  z-index: 9999;
}
.navTop .navTop-logo {
  margin-left: 16px;
  display: flex;
  align-items: center;
}
.navTop .navTop-logo > a {
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0px;
  padding: 4px 4px 2px 4px;
  margin: 6px 0 4px 0;
  color: var(--navTop-logo-color);
}
.navTop .navTop-logo > a:hover {
  text-decoration: none;
}
.navTop .navTop-searchBar {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navTop .navTop-searchBar > div {
  max-width: 680px;
  flex-grow: 1;
  flex-shrink: 1;
}
.navTop .navTop-searchBar label {
  width: 100%;
  border-radius: 50px;
  background-color: var(--comment-background);
  display: flex;
  position: relative;
  vertical-align: center;
  cursor: text;
}
.navTop .navTop-searchBar label > div {
  position: absolute;
  display: flex;
  align-items: center;
  padding-left: 12px;
  height: 100%;
}
.navTop .navTop-searchBar label > div > svg {
  color: var(--secondary-icon);
}
.navTop .navTop-searchBar label > input {
  height: 40px;
  padding: 7px 8px 9px 36px;
  font-size: 15px;
  width: 100%;
  color: var(--primary-text);
}
.navTop .navTop-searchBar label > input::placeholder {
  color: var(--secondary-text);
}
.navTop .navTop-searchBar label:hover {
  background-color: var(--comment-background-hover);
}
.navTop .navTop-social {
  padding: 0 16px 0 4px;
  position: relative;
}
.navTop .navTop-social > :first-child {
  display: flex;
  align-items: center;
  height: 56px;
}
.navTop .navTop-social > :first-child > .btn-profil {
  position: relative;
  height: 40px;
  width: 40px;
  cursor: pointer;
}
.navTop .navTop-social > :first-child > .btn-profil:active {
  transform: scale(0.96);
}
.navTop .navTop-social > :first-child > .btn-profil:active .circlePP {
  fill: var(--media-press);
}
.navTop .navTop-social > :first-child > .btn-profil:active .hover {
  background-color: var(--press-overlay);
}
.navTop .navTop-social > :first-child > .btn-profil .circlePP {
  fill: none;
}
.navTop .navTop-social > :first-child > .btn-profil > .icon-down {
  position: absolute;
  bottom: 6px;
  right: 6px;
  transform: translate(50%, 50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
  background-color: var(--secondary-button-background);
}
.navTop .navTop-social > :first-child > .btn-profil > .icon-down > svg {
  color: var(--primary-icon);
}
.navTop .navTop-social > :first-child > .btn-profil > .icon-down > .hover {
  position: absolute;
  bottom: 6px;
  right: 6px;
  transform: translate(50%, 50%);
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
.navTop .navTop-social > :first-child > .btn-profil > .hover {
  position: absolute;
  display: block;
  inset: 0;
  border-radius: 50%;
}
.navTop .navTop-social > :first-child > .btn-profil > .hover:hover {
  background-color: var(--hover-overlay);
}
.navTop .navTop-social > :first-child > .btn-profil > .hover:active {
  background-color: var(--press-overlay);
}
.navTop .navTop-social > :last-child {
  position: absolute;
  right: 16px;
}

.navLeft {
  overflow: hidden;
  height: 100%;
  position: fixed;
  top: 56px;
  z-index: 0;
}
.navLeft#navLeft[data-always=small] {
  border-right: 1px solid var(--wash);
}
.navLeft[data-status=small], .navLeft#navLeft[data-always=small] {
  width: 60px;
  background-color: var(--nav-background-color);
}
.navLeft[data-status=small] .navLeft-section > :first-child > .button-hover, .navLeft#navLeft[data-always=small] .navLeft-section > :first-child > .button-hover {
  inset: 4px 14px;
  border-radius: 16px;
}
.navLeft[data-status=small] .navLeft-button > span, .navLeft#navLeft[data-always=small] .navLeft-button > span {
  display: none;
}
.navLeft[data-status=extended] {
  width: 300px;
  background-color: none;
}
.navLeft .navLeft-section {
  padding: 8px 0;
}
.navLeft .navLeft-section > :first-child {
  padding: 4px 14px;
}
.navLeft .navLeft-section > :first-child > span {
  margin-left: 8px;
  font-size: 17px;
  font-weight: 600;
}
.navLeft .navLeft-section > :first-child > .icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-button-background);
}
.navLeft .navLeft-section > :first-child i, .navLeft .navLeft-section > :first-child img {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.navLeft .main {
  padding: 16px 0 8px 0;
}
.navLeft .main > a {
  height: 36px;
}
.navLeft .main > a > :last-child {
  inset: -2px 8px;
}
.navLeft .main > .home {
  margin-bottom: 8px;
}
.navLeft .main > .profil {
  margin-top: 4px;
  padding: 6px 18px;
}
.navLeft .navLeft-button {
  height: 40px;
  min-width: 60px;
  max-width: 100%;
  display: flex;
  align-items: center;
  padding: 8px 20px;
  position: relative;
  cursor: pointer;
}
.navLeft .navLeft-button > span {
  margin-left: 14px;
  font-size: 15px;
  font-weight: 500;
  color: var(--primary-text);
  line-height: 1.33;
  display: block;
  min-width: 0;
}
.navLeft .navLeft-button > .button-hover {
  position: absolute;
  transition: background-color 100ms cubic-bezier(0, 0, 1, 1);
  border-radius: 8px;
  inset: 0px 8px;
}
.navLeft .navLeft-button > .button-hover:hover {
  background-color: var(--hover-overlay);
}
.navLeft .navLeft-button i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.navLeft .navLeft-button[data-status=selected] > .show-selected {
  background-color: var(--accent);
  height: 36px;
  width: 4px;
  border-radius: 8px;
  position: absolute;
  top: 50%;
  left: 0;
  transform: scaleY(1) translateY(-50%);
  display: block;
}
.navLeft .navLeft-button[data-status=selected] > .icon {
  background-color: var(--primary-deemphasized-button-background);
}
.navLeft .navLeft-button[data-status=selected] img, .navLeft .navLeft-button[data-status=selected] i {
  -webkit-filter: var(--filter-accent);
  filter: var(--filter-accent);
}

.navLeft-cloud {
  top: 56px;
  left: 60px;
  right: 0;
  bottom: 0;
  background-color: var(--overlay-alpha-80);
  position: fixed;
  z-index: 1;
}

.navLeft-border {
  width: 1px;
  position: absolute;
  top: 56px;
  z-index: 2;
  bottom: 0;
  left: 60px;
  display: block;
  background-color: var(--wash);
}

#panel[data-status=hidden] {
  display: none;
  z-index: 1;
}

.panelHouse .panelHouse-create {
  padding: 8px 16px 0 16px;
}
.panelHouse .panelHouse-create > a {
  position: relative;
  width: 100%;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-deemphasized-button-background);
  height: 36px;
}
.panelHouse .panelHouse-create > a:active {
  transform: scale(0.96);
}
.panelHouse .panelHouse-create > a > span {
  display: flex;
  align-items: center;
  justify-content: center;
}
.panelHouse .panelHouse-create > a > span > span {
  font-size: 15px;
  line-height: 20px;
  font-weight: 600;
  color: var(--primary-deemphasized-button-text);
  margin: 0 3px;
}
.panelHouse .panelHouse-create > a > span > i {
  -webkit-filter: var(--filter-accent);
  filter: var(--filter-accent);
  margin: 0 3px;
}
.panelHouse .panelHouse-create > a > div {
  position: absolute;
  inset: 0;
  border-radius: inherit;
}
.panelHouse .panelHouse-create > a > div:hover {
  background-color: var(--hover-overlay);
}
.panelHouse .panelHouse-create > a > div:active {
  background-color: var(--primary-deemphasized-button-pressed-overlay);
}
.panelHouse #searchHousesButton {
  height: 56px;
}
.panelHouse #searchHousesButton > .img {
  padding: 0;
  margin: 6px;
  background-color: var(--base-blue);
  height: 36px;
  width: 36px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.panelHouse #searchHousesButton > .img > i {
  -webkit-filter: var(--filter-always-white);
  filter: var(--filter-always-white);
}
.panelHouse #searchHousesButton > .text > :first-child {
  font-weight: 400;
  font-size: 15px;
  line-height: 20px;
  color: var(--blue-link);
}
.panelHouse #searchHousesButton > .text > :first-child > strong {
  font-size: inherit;
  font-weight: 600;
  line-height: inherit;
  color: inherit;
}
.panelHouse .panelHouse-button > .img {
  padding: 6px;
  display: flex;
  align-items: center;
}
.panelHouse .panelHouse-button > .text {
  display: flex;
  flex-direction: column;
  padding: 6px;
  flex-grow: 1;
}
.panelHouse .panelHouse-button > .text > .primary {
  color: var(--primary-text);
  line-height: 20px;
  font-size: 15px;
  font-weight: 500;
}
.panelHouse .panelHouse-button > .text > .secondary {
  color: var(--secondary-text);
  line-height: 16px;
  font-size: 12px;
  font-weight: 400;
}
.panelHouse .panelHouse-button > .pin-icon {
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 99;
}
.panelHouse .panelHouse-button > .pin-icon.scale-96 {
  transform: scale(0.96);
}
.panelHouse .panelHouse-button > .pin-icon > i {
  -webkit-filter: var(--filter-primary-icon);
  filter: var(--filter-primary-icon);
}
.panelHouse .panelHouse-button > .pin-icon > div {
  position: absolute;
  border-radius: 50px;
  inset: 0;
  transition: opacity 100ms cubic-bezier(0, 0, 1, 1);
}
.panelHouse .panelHouse-button > .pin-icon > div:hover {
  background-color: var(--hover-overlay);
}
.panelHouse .panelHouse-button > .pin-icon > div:active {
  background-color: var(--press-overlay);
}

.panelHouse .panel-section-scroll #containerSearchHouseButton {
  display: none;
}
.panelHouse .panel-section-scroll[data-status=search] #containerSearchHouseButton {
  display: block;
}
.panelHouse .panel-section-scroll[data-status=search] .panelHouse-create {
  display: none;
}
.panelHouse .panel-section-scroll[data-status=search] .panel-section-separator {
  display: none;
}
.panelHouse .panel-section-scroll[data-status=search] .panel-section-list > #pinHouses {
  display: none;
}

.panel-section {
  top: 56px;
  left: 60px;
  width: 360px;
  bottom: 0;
  background-color: var(--card-background);
  position: fixed;
  z-index: 1;
}
.panel-section[data-status=hidden] {
  display: none;
}
.panel-section .panel-section-title {
  margin: 19px 16px 8px 16px;
  display: flex;
  align-items: center;
}
.panel-section .panel-section-title > h1 {
  color: var(--primary-text);
  text-align: left;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
  display: flex;
}
.panel-section .panel-section-search {
  padding: 4px 16px 8px 16px;
}
.panel-section .panel-section-search > label {
  display: flex;
  flex-direction: row;
  background-color: var(--comment-background);
  border-radius: 50px;
  min-height: 36px;
  width: 100%;
  cursor: text;
}
.panel-section .panel-section-search > label > div {
  padding-left: 10px;
  display: flex;
  align-items: center;
}
.panel-section .panel-section-search > label > div > svg {
  color: var(--secondary-icon);
}
.panel-section .panel-section-search > label > input {
  padding: 7px 6px 9px 6px;
  font-size: 15px;
  font-weight: 400;
  color: var(--primary-text);
  flex-grow: 1;
}
.panel-section .panel-section-search > label > input::placeholder {
  color: var(--secondary-text);
}
.panel-section .panel-section-search > label > input:focus::placeholder {
  color: var(--comment-placeholder-focus);
}
.panel-section .panel-section-separator {
  padding-top: 12px;
  margin: 0 16px;
  border-bottom: 1px solid var(--divider);
}
.panel-section .panel-section-list > div {
  padding-top: 16px;
}
.panel-section .panel-section-list > div > span {
  padding: 0 16px;
  color: var(--primary-text);
  font-size: 17px;
  font-weight: 600;
  line-height: 20px;
}
.panel-section .panel-section-list > div > div {
  padding: 8px 8px 0 8px;
}
.panel-section .panel-section-button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 6px 2px;
  height: 60px;
  position: relative;
}
.panel-section .panel-section-button > .hover {
  position: absolute;
  border-radius: 8px;
  inset: 0;
  transition: background-color 100ms cubic-bezier(0, 0, 1, 1);
}
.panel-section .panel-section-button > .hover:hover {
  background-color: var(--hover-overlay);
}
.panel-section .panel-section-button > .hover:active {
  background-color: var(--press-overlay);
}

.panelSettings {
  border-right: 1px solid var(--wash);
}
.panelSettings .panel-section-title {
  margin-bottom: 12px;
}
.panelSettings .panel-section-button {
  width: 344px;
  height: 44px;
  padding-left: 8px;
  padding-right: 8px;
}
.panelSettings .panel-section-button[aria-current=page] .hover {
  background-color: var(--hover-overlay);
}
.panelSettings .panel-section-button .icon {
  width: 24px;
  height: 24px;
  margin-right: 12px;
}
.panelSettings .panel-section-button .icon img {
  filter: var(--filter-primary-icon);
}
.panelSettings .panel-section-button .text span {
  color: var(--primary-text);
  font-weight: 500;
  font-size: 17px;
  line-height: 20px;
}
.panelSettings .panel-section-scroll {
  padding: 0 8px;
}

.settings {
  max-width: 960px;
  min-width: 750px;
  padding: 0 20px;
  flex-grow: 1;
  padding-top: 15px;
  position: relative;
}
.settings .settings-title {
  margin-bottom: 5px;
  padding: 6px 0 16px 0;
}
.settings .settings-title h2 {
  color: var(--primary-text);
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  padding-bottom: 2px;
}
.settings .settings-content {
  display: flex;
  background-color: var(--settings-content-background);
}
.settings .settings-content .settings-content-name {
  margin: 10px 5px;
}
.settings .settings-content .settings-content-name h3 {
  color: var(--primary-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  width: 190px;
}
.settings .settings-form {
  width: 400px;
  padding: 10px 0;
  display: flex;
  flex-direction: column;
}
.settings .settings-form .settings-form-label {
  display: flex;
  align-items: center;
  justify-content: right;
  cursor: default;
  padding: 5px 0;
}
.settings .settings-form .settings-form-label span {
  padding-right: 10px;
  text-align: right;
  font-size: 15px;
  font-weight: 600;
  color: var(--settings-form-label-text);
}
.settings .settings-form .settings-form-label input {
  border-radius: 3px;
  margin-right: 70px;
  font-size: 16px;
  height: 29px;
  border: 1px solid var(--settings-form-label-border);
  background-color: var(--settings-background-color);
  color: var(--primary-text);
  padding: 3px;
  cursor: text;
}
.settings .settings-form .settings-form-divider {
  height: 1px;
  width: inherit;
  margin: 13px 0;
  background-color: var(--settings-form-divider-background);
}
.settings .settings-form .settings-form-confirm {
  cursor: pointer;
  padding: 2px 10px;
  background-color: var(--settings-form-confirm-bg);
  border: none;
  border-radius: 2px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: var(--settings-form-confirm-text);
}
.settings .settings-form .settings-form-confirm:hover {
  background-color: var(--settings-form-confirm-hover);
}
.settings .settings-form .settings-form-confirm:active {
  background-color: var(--settings-form-confirm-press);
}
.settings .settings-form-cancel {
  cursor: pointer;
  padding: 2px 10px;
  background-color: var(--settings-form-cancel-bg);
  border: 1px solid var(--settings-form-cancel-border);
  border-radius: 2px;
  line-height: 20px;
  font-size: 13px;
  font-weight: 500;
  color: var(--settings-form-cancel-text);
}
.settings .settings-form-cancel:hover {
  background-color: var(--settings-form-cancel-hover);
}
.settings .settings-form-cancel:active {
  background-color: var(--settings-form-cancel-press);
}

.settings#security .settings-category {
  border-radius: 3px;
  border: 1px solid var(--settings-category-border);
  margin-bottom: 10px;
}
.settings#security .settings-category .settings-category-name {
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  padding: 12px;
  background-color: var(--settings-category-name-bg);
}
.settings#security .settings-category .settings-category-name h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  color: var(--primary-text);
}
.settings#security .settings-category .settings-category-list:first-child {
  border-top: none;
}
.settings#security .settings-modify {
  position: relative;
  border-top: 1px solid var(--settings-category-modify-border);
  padding: 12px;
  background-color: var(--settings-background-color);
}
.settings#security .settings-modify[data-status=modifying] {
  background-color: var(--settings-content-background);
}
.settings#security .settings-modify[data-status=modifying] > :first-child {
  cursor: default;
}
.settings#security .settings-modify[data-status=modifying] .settings-content {
  display: flex;
}
.settings#security .settings-modify[data-status=modifying] .settings-modify-text h3,
.settings#security .settings-modify[data-status=modifying] .settings-modify-text span {
  cursor: text;
}
.settings#security .settings-modify .settings-content {
  display: none;
}
.settings#security .settings-modify > :first-child {
  height: 40px;
  cursor: pointer;
  display: flex;
}
.settings#security .settings-modify .settings-modify-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 40px;
}
.settings#security .settings-modify .settings-modify-icon img {
  height: 20px;
  width: 20px;
  filter: var(--filter-settings-icon);
}
.settings#security .settings-modify .settings-modify-text {
  display: flex;
  flex-direction: column;
}
.settings#security .settings-modify .settings-modify-text h3, .settings#security .settings-modify .settings-modify-text span {
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-align: left;
  width: fit-content;
}
.settings#security .settings-modify .settings-modify-text h3 {
  color: var(--primary-text);
}
.settings#security .settings-modify .settings-modify-text span {
  color: var(--secondary-text);
}
.settings#security .settings-modify .settings-modify-button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}
.settings#security .settings-content {
  border-top: 1px solid var(--settings-form-divider-background);
  margin-top: 10px;
}
.settings#security .settings-form {
  margin-left: 111px;
}

.settings#account .settings-list {
  border-top: 1px solid var(--settings-list-border);
  border-bottom: 1px solid var(--settings-list-border);
}
.settings#account .settings-list li {
  list-style-type: none;
  padding: 8px 0;
  border-top: 1px solid var(--settings-li-border);
}
.settings#account .settings-list li:first-child {
  border: none;
}
.settings#account .settings-list li[data-status=modifying] .settings-modify {
  display: none;
}
.settings#account .settings-list li[data-status=modifying] .settings-content {
  display: flex;
}
.settings#account .settings-list li .settings-content {
  display: none;
}
.settings#account .settings-modify {
  padding: 10px 5px;
  display: block;
  position: relative;
  cursor: pointer;
}
.settings#account .settings-modify:hover {
  background-color: var(--hover-overlay);
}
.settings#account .settings-modify:hover .settings-modify-action {
  text-decoration: underline;
}
.settings#account .settings-modify .settings-modify-name {
  display: inline-block;
}
.settings#account .settings-modify .settings-modify-name h3 {
  color: var(--primary-text);
  font-size: 15px;
  font-weight: 600;
  line-height: 20px;
  padding-right: 5px;
  padding-left: 5px;
  width: 190px;
}
.settings#account .settings-modify .settings-modify-value {
  display: inline-block;
}
.settings#account .settings-modify .settings-modify-value span {
  color: var(--secondary-text);
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
}
.settings#account .settings-modify .settings-modify-value span strong {
  font-size: inherit;
  font-weight: 600;
  color: inherit;
  line-height: inherit;
}
.settings#account .settings-modify .settings-modify-action {
  text-decoration: none;
  padding-right: 5px;
  float: right;
}
.settings#account .settings-modify .settings-modify-action span {
  color: var(--blue-link);
  line-height: 20px;
  font-size: 15px;
  font-weight: 400;
  text-decoration: inherit;
  text-align: right;
}

/*# sourceMappingURL=style.css.map */
