.card-recover {
    border: none;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgb(0 0 0 / 10%), 0 2px 4px rgb(0 0 0 / 10%);
    width: 500px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -60%);
    background-color: #fff;

    &__head {
        border-bottom: 1px solid rgba(0, 0, 0, .1);

        h2 {
            font-size: 20px;
            line-height: 24px;
            padding: 18px 16px 18px 18px;
            margin: 0;
        }
    }

    &__body {
        padding: 16px;

        & > :first-child {
            font-size: 17px;
            line-height: 20px;
            margin-bottom: 20px;
        }
    }

    &__footer {
        padding: 16px;
        border-top: 1px solid rgba(0, 0, 0, .1);
        text-align: end;
        position: relative;

        a {
            padding: 0 20px;
            background-color: #e4e6eb;
            border: none;
            border-radius: 6px;
            font-size: 15px;
            line-height: 36px;
            color: #4b4f56;
            display: inline-block;
            font-weight: bold;

            &:hover {
                text-decoration: none;
            }
        }

        button {
            padding: 0 20px;
            background-color: #1877f2;
            border: none;
            border-radius: 6px;
            font-size: 15px;
            line-height: 36px;
            margin-left: 8px;
            font-weight: bold;
            color: #fff;
            cursor: pointer;
        
            &:hover {
                background-color: #166FE5;
            }
        }
    }
}