.panelSettings {
    border-right: 1px solid var(--wash);

    .panel-section-title {
        margin-bottom: 12px;
    }

    .panel-section-button {
        width: 344px;
        height: 44px;
        padding-left: 8px;
        padding-right: 8px;

        &[aria-current="page"] {
            .hover { background-color: var(--hover-overlay); }
        }

        .icon {
            width: 24px;
            height: 24px;
            margin-right: 12px;

            img {
                filter: var(--filter-primary-icon);
            }
        }

        .text {
            span {
                color: var(--primary-text);
                font-weight: 500;
                font-size: 17px;
                line-height: 20px;
            }
        }
    }

    .panel-section-scroll {
        padding: 0 8px;
    }
}