.scrollbar-container {
    padding: 16px 20px 16px 16px;
    position: relative;
    height: 100%;
    overflow: hidden;

    &:hover {
        .scrollbar-thumb {
            opacity: 1;
            transition: opacity .3s ease 0s,
            transform .5s cubic-bezier(0.14, 0.82, 0.51, 0.99);
        }
    }

    .scrollbar-content {
        height: fit-content;
        overflow: visible;
        transition: transform .5s cubic-bezier(0.14, 0.82, 0.51, 0.99);

        &[data-transition='no'] {
            transition: none;
        }
    }

    .scrollbar-track {
        position: absolute;
        width: 16px;
        top: 10px;
        right: 0;
        bottom: 0;
        border-radius: 8px;
        transition: opacity .5s ease;
        background-color: var(--divider);
        opacity: 0;

        &:hover {
            opacity: 0.2;
        }
    }

    .scrollbar-thumb {
        position: absolute;
        opacity: 0;
        top: 10px;
        right: 0;
        padding: 0 4px;
        width: 16px;
        transition: opacity .3s ease 1s,
        transform .5s cubic-bezier(0.14, 0.82, 0.51, 0.99);

        &[data-transition='no'] {
            opacity: 1;
            transition: opacity .3s ease 1s;
        }

        div {
            border-radius: 4px;
            background-color: var(--scroll-thumb);
            height: 100%;
            width: 100%;
        }
    }
}